作業目標:<br>
1. 熟悉分組計算

作業重點: <br>
1. 分組計算也可以加入apply自定義的函數

題目 : 運用下列分數資料分析<br>
1. 找出全年級各科成績最高分與最低分?<br>
2. 找出數學班平均最高的班級?<br>
3. 分析全校女生與男生國文平均差幾分?<br>

In [1]:
import numpy as np
import pandas as pd

In [2]:
score_df = pd.DataFrame( [[1,50,80,70,'boy',1],
                          [2,60,45,50,'boy',2],
                          [3,98,43,55,'boy',1],
                          [4,70,69,89,'boy',2],
                          [5,56,79,60,'girl',1],
                          [6,60,68,55,'girl',2],
                          [7,45,70,77,'girl',1],
                          [8,55,77,76,'girl',2],
                          [9,25,57,60,'girl',1],
                          [10,88,40,43,'girl',3],
                          [11,25,60,45,'boy',3],
                          [12,80,60,23,'boy',3],
                          [13,20,90,66,'girl',3],
                          [14,50,50,50,'girl',3],
                          [15,89,67,77,'girl',3]], columns=['student_id','math_score','english_score','chinese_score','sex','class'] )

score_df

    student_id  math_score  english_score  chinese_score   sex  class
0            1          50             80             70   boy      1
1            2          60             45             50   boy      2
2            3          98             43             55   boy      1
3            4          70             69             89   boy      2
4            5          56             79             60  girl      1
5            6          60             68             55  girl      2
6            7          45             70             77  girl      1
7            8          55             77             76  girl      2
8            9          25             57             60  girl      1
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3

In [3]:
# 1.找出全年級各科成績最高分與最低分?

print( '各科最高分 : \n', score_df.max()[['math_score','english_score','chinese_score']], '\n' )
print( '各科最低分 : \n', score_df.min()[['math_score','english_score','chinese_score']] )

各科最高分 :
 math_score       98
english_score    90
chinese_score    89
dtype: object

各科最低分 :
 math_score       20
english_score    40
chinese_score    23
dtype: object

In [4]:
# 2.找出數學班平均最高的班級?
# Ans: 班級 2

math_mean = score_df[ ['class','math_score'] ].groupby( by='class' ).mean()
math_mean.columns = ['Math_Mean']
math_mean

       Math_Mean
class
1      54.800000
2      61.250000
3      58.666667

In [5]:
best_class = math_mean.idxmax()
print( '數學平均最高是班級', best_class[0] )

數學平均最高是班級 2

In [6]:
# 3.分析全校女生與男生國文平均差幾分?
# Ans: 男生較女生低約 7.3 分

mean_chinese = score_df[ ['sex','chinese_score'] ].groupby( by='sex' ).mean()
mean_chinese

      chinese_score
sex
boy       55.333333
girl      62.666667

In [7]:
mean_chinese.loc[ 'boy' ][0] - mean_chinese.loc[ 'girl' ][0]

-7.333333333333329